{% extends 'base.html' %}

{% block head %}
<h1> early access basic online sudoku solver </h1>
{% endblock %}

{% block body %}
<table class="tg">
  <tr>
    <td class="tg-0pky">{{num[0][0]}}</td>
    <td class="tg-0pky">{{num[0][1]}}</td>
	<td class="tg-0pky">{{num[0][2]}}</td>
    <td class="tg-0pky">{{num[0][3]}}</td>
	<td class="tg-0pky">{{num[0][4]}}</td>
    <td class="tg-0pky">{{num[0][5]}}</td>
	<td class="tg-0pky">{{num[0][6]}}</td>
	<td class="tg-0pky">{{num[0][7]}}</td>
    <td class="tg-0pky">{{num[0][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[1][0]}}</td>
    <td class="tg-0pky">{{num[1][1]}}</td>
	<td class="tg-0pky">{{num[1][2]}}</td>
    <td class="tg-0pky">{{num[1][3]}}</td>
	<td class="tg-0pky">{{num[1][4]}}</td>
    <td class="tg-0pky">{{num[1][5]}}</td>
	<td class="tg-0pky">{{num[1][6]}}</td>
	<td class="tg-0pky">{{num[1][7]}}</td>
    <td class="tg-0pky">{{num[1][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[2][0]}}</td>
    <td class="tg-0pky">{{num[2][1]}}</td>
	<td class="tg-0pky">{{num[2][2]}}</td>
    <td class="tg-0pky">{{num[2][3]}}</td>
	<td class="tg-0pky">{{num[2][4]}}</td>
    <td class="tg-0pky">{{num[2][5]}}</td>
	<td class="tg-0pky">{{num[2][6]}}</td>
	<td class="tg-0pky">{{num[2][7]}}</td>
    <td class="tg-0pky">{{num[2][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[3][0]}}</td>
    <td class="tg-0pky">{{num[3][1]}}</td>
	<td class="tg-0pky">{{num[3][2]}}</td>
    <td class="tg-0pky">{{num[3][3]}}</td>
	<td class="tg-0pky">{{num[3][4]}}</td>
    <td class="tg-0pky">{{num[3][5]}}</td>
	<td class="tg-0pky">{{num[3][6]}}</td>
	<td class="tg-0pky">{{num[3][7]}}</td>
    <td class="tg-0pky">{{num[3][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[4][0]}}</td>
    <td class="tg-0pky">{{num[4][1]}}</td>
	<td class="tg-0pky">{{num[4][2]}}</td>
    <td class="tg-0pky">{{num[4][3]}}</td>
	<td class="tg-0pky">{{num[4][4]}}</td>
    <td class="tg-0pky">{{num[4][5]}}</td>
	<td class="tg-0pky">{{num[4][6]}}</td>
	<td class="tg-0pky">{{num[4][7]}}</td>
    <td class="tg-0pky">{{num[4][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[5][0]}}</td>
    <td class="tg-0pky">{{num[5][1]}}</td>
	<td class="tg-0pky">{{num[5][2]}}</td>
    <td class="tg-0pky">{{num[5][3]}}</td>
	<td class="tg-0pky">{{num[5][4]}}</td>
    <td class="tg-0pky">{{num[5][5]}}</td>
	<td class="tg-0pky">{{num[5][6]}}</td>
	<td class="tg-0pky">{{num[5][7]}}</td>
    <td class="tg-0pky">{{num[5][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[6][0]}}</td>
    <td class="tg-0pky">{{num[6][1]}}</td>
	<td class="tg-0pky">{{num[6][2]}}</td>
    <td class="tg-0pky">{{num[6][3]}}</td>
	<td class="tg-0pky">{{num[6][4]}}</td>
    <td class="tg-0pky">{{num[6][5]}}</td>
	<td class="tg-0pky">{{num[6][6]}}</td>
	<td class="tg-0pky">{{num[6][7]}}</td>
    <td class="tg-0pky">{{num[6][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[7][0]}}</td>
    <td class="tg-0pky">{{num[7][1]}}</td>
	<td class="tg-0pky">{{num[7][2]}}</td>
    <td class="tg-0pky">{{num[7][3]}}</td>
	<td class="tg-0pky">{{num[7][4]}}</td>
    <td class="tg-0pky">{{num[7][5]}}</td>
	<td class="tg-0pky">{{num[7][6]}}</td>
	<td class="tg-0pky">{{num[7][7]}}</td>
    <td class="tg-0pky">{{num[7][8]}}</td>
  </tr>
  <tr>
    <td class="tg-0pky">{{num[8][0]}}</td>
    <td class="tg-0pky">{{num[8][1]}}</td>
	<td class="tg-0pky">{{num[8][2]}}</td>
    <td class="tg-0pky">{{num[8][3]}}</td>
	<td class="tg-0pky">{{num[8][4]}}</td>
    <td class="tg-0pky">{{num[8][5]}}</td>
	<td class="tg-0pky">{{num[8][6]}}</td>
	<td class="tg-0pky">{{num[8][7]}}</td>
    <td class="tg-0pky">{{num[8][8]}}</td>
  </tr>
</table
<div>
	<form action ="/" method="POST">
	    <!-- <button action="/solver/">solve</button> -->
		<a href=solver><input type=”button” name="solve"value=solve></a>
		<input type="text" name="content" id="content">
		<input type="submit" value="Add Task">	
	</form>
</div>
<div>
	<p>input your values in formart below</p>
	<p>row collum value</p>
</div>
<div>

	<img src="{{url_for('static', filename='inputform.png')}}" align="middle" />
	

</div>
{% endblock %}
